---
AccessModifierOffset: '-4'
AlignAfterOpenBracket: AlwaysBreak
AlignConsecutiveAssignments: 'true'
AllowShortFunctionsOnASingleLine: Empty
AlwaysBreakTemplateDeclarations: 'true'
BinPackArguments: 'false'
BinPackParameters: 'false'
BreakBeforeBinaryOperators: NonAssignment
IndentWidth: '4'
SpaceAfterCStyleCast: 'false'
SpaceBeforeParens: Never

...
